#skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 30%;
}


/* ===============================================
    Images choix metiers dans catÃ©gorie mÃ©tier
================================================== */

.snip_img {
    display: inline-block;
    overflow: hidden;
    margin: 10px 8px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    box-shadow: none !important;
    padding: 16px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip_img img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.snip_img:before,
.snip_img:after {
    z-index: 9;
    position: absolute;
    content: '';
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0.6;
}

.snip_img:before {
    border: 8px solid rgb(194, 194, 194);
    top: 0px;
    left: 0px;
    bottom: 32px;
    right: 32px;
}

.snip_img:after {
    background-color: rgb(194, 194, 194);
    bottom: 0px;
    right: 0px;
    top: 32px;
    left: 32px;
}

.snip_img a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
}

.snip_img:hover:before,
.snip_img.hover:before,
.snip_img:hover:after,
.snip_img.hover:after {
    opacity: 1;
}


/* ==================================================
    Fin Images choix metiers dans catÃ©gorie mÃ©tier
=================================================== */


/* ==================================================
    Animations images section (index.html)
   ================================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.snip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FF9C5B;
    box-shadow: 1px 1px 1px 0px rgb(141, 141, 141);
    padding: 20px 50px 20px 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    min-width: 200px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 200px;
    z-index: 7;
}

.snip * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
}

.snip:before,
.snip:after {
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 100px solid #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 3;
    opacity: 0;
}

.snip:before {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.snip:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
}

.snip img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
}

.snip figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.snip p {
    font-size: 0.75em;
    max-width: 85%;
    position: absolute;
    bottom: 10px;
}

.snip:hover>img,
.snip.hover>img {
    opacity: 0.7;
    transform: translateY(-100px);
}

.snip:hover>h3,
.snip.hover>h3 {
    transform: translateY(-100px);
}

.snip:hover:before,
.snip.hover:before,
.snip:hover:after,
.snip.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.snip:hover {
    -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.7s;
}

.snip:hover figcaption,
.snip.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}