@font-face {
    font-family: Aileron;
    src: url(aileron/Aileron-Regular.otf) format(opentype);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Aileron';
    background-color: rbga(255, 140, 0, 0.5);
    color: white;
}

.gauche {
    width: 40%;
    height: 100%;
    float: left;
    position: fixed;
    background: linear-gradient(-75deg, #222121, #222121, #FF8C00, #ff5e00);
    color: rbga(255, 140, 0, 0.5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#centrergauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    position: relative;
    font-size: 200%;
}

#barreorange1 {
    width: 220px;
    height: 7px;
    margin-left: 50px;
    background-color: #FF4500;
    border-radius: 0px 6px 6px 0px;
}

#titre {
    margin-left: 35px;
    color: white;
}

#soustitre a {
    text-decoration: none;
    font-style: italic;
    color: white;
}

#soustitre a:hover {
    font-style: normal;
}

#presentation {
    margin-bottom: 15px;
    font-weight: bold;
}

#presentation span {
    color: #026b02;
}

img.superpose {
    position: absolute;
    margin-left: 175px;
}

#imgavatar {
    height: 125px;
    width: 125px;
    z-index: 11;
}

#imgcircle {
    height: 130px;
    width: 130px;
    animation: rotation 8s infinite linear;
    z-index: 10;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.droite {
    width: 60%;
    float: right;
    background-color: #222121;
}

.lien {
    display: none;
}

.cvlien {
    text-decoration: none;
    color: #026b02;
    width: 125px;
    height: 200px;
    padding: 10px 30px;
    margin-left: 27%;
    background-color: #708090;
    border: 2px solid whitesmoke;
    border-style: inset;
    border-radius: 12px;
    transition-duration: 1s;
}

.cvlien:hover {
    background-color: rgba(255, 255, 255, 1);
    background: url(images/CV.png);
    background-position: center;
    background-size: cover;
    border: 2px solid #708090;
    border-style: inset;
    border-radius: 12px;
    transition-duration: 1s;
    color: #708090;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.cvlien:hover p {
    color: #708090;
    transition-duration: 1s;
}

.lien {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: #708090;
    border: 2px solid whitesmoke;
    border-style: inset;
    border-radius: 12px;
    transition-duration: 1s;
    display: none;
}

.lien:hover {
    background-color: whitesmoke;
    border: 2px solid #708090;
    border-style: inset;
    border-radius: 12px;
    transition-duration: 1s;
    color: #708090;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}


/* Responsive design */

@media screen and (orientation:landscape) and (max-width: 1320px) {
    .cvlien {
        display: none;
    }
    .lien {
        display: block;
    }
    .gauche {
        width: 100%;
        height: 500px;
        float: none;
        position: relative;
        background: linear-gradient(90deg, #222121, #222121, #FF8C00, #ff5e00);
        color: rbga(255, 140, 0, 0.5);
        background-size: 400% 400%;
        animation: gradientphone 15s ease infinite;
        margin-top: 0;
    }
    @keyframes gradientphone {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    #centrergauche {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        top: 50px;
        width: 30em;
        position: relative;
        font-size: 100%;
    }
    .droite {
        width: 100%;
        margin-top: 0;
        margin-bottom: 5%;
        float: none;
        position: relative;
        background-color: #222121;
    }
    #menu-burger {
        display: none;
    }
    #menu {
        display: none;
    }
    .bar1,
    .bar2,
    .bar3 {
        display: none;
    }
    #skills {
        margin-left: 35%;
    }
    /* Place the navbar at the bottom of the page, and make it stick */
    .navbarphone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 1;
        background: linear-gradient(-90deg, #ff5e00, #FF8C00);
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        height: 85px;
        z-index: 500;
    }
    /* Style the links inside the navigation bar */
    .navbarphone a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 40px;
    }
    /* Change the color of links on hover */
    .navbarphone a:hover {
        background-color: #ddd;
        color: black;
    }
    .navbarphone a:active {
        background-color: #ff5e00;
    }
}

@media screen and (orientation: portrait) and (max-width: 980px) {
    .cvlien {
        display: none;
    }
    .lien {
        display: block;
    }
    .gauche {
        width: 100%;
        height: 500px;
        float: none;
        top: 0;
        position: absolute;
        background: linear-gradient(90deg, #222121, #222121, #FF8C00, #ff5e00);
        color: rbga(255, 140, 0, 0.5);
        background-size: 400% 400%;
        animation: gradientphone 15s ease infinite;
    }
    @keyframes gradientphone {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    #centrergauche {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 30em;
        position: relative;
        font-size: 100%;
    }
    #centrergauche p {
        font-size: 150%;
    }
    #name {
        font-size: 150%;
    }
    .droite {
        width: 100%;
        margin-top: 500px;
        margin-bottom: 5%;
        float: none;
        background-color: #222121;
    }
    #menu-burger {
        display: none;
    }
    #menu {
        display: none;
    }
    .bar1,
    .bar2,
    .bar3 {
        display: none;
    }
    #skills {
        margin-left: 35%;
    }
    img.superpose {
        position: absolute;
        margin-left: 175;
    }
    /* Place the navbar at the bottom of the page, and make it stick */
    .navbarphone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 1;
        background-color: #FF4500;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5%;
        z-index: 500;
    }
    /* Style the links inside the navigation bar */
    .navbarphone a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 40px;
    }
    /* Change the color of links on hover */
    .navbarphone a:hover {
        background-color: #ddd;
        color: black;
    }
    .navbarphone a:active {
        background-color: #ff5e00;
    }
}