* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Aileron';
    color: black;
    --bg-color: rgba(228, 228, 228, 0.5);
    --gradient1: #e62e7a;
    --gradient2: #F5634A;
    --items: #3c9c84;
}

#headerprojet {
    top: 0;
    width: 100%;
    height: 75px;
    background: linear-gradient(90deg, var(--gradient2), #df4674, var(--gradient1));
}

#titreprojet {
    margin-top: 20px;
}

#barretitre {
    width: 400px;
    height: 7px;
    margin-left: 35px;
    background-color: var(--items);
    border-radius: 6px 6px 6px 6px;
}

#bloctitreprojet {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#mainframe {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.unprojet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc {
    width: 600px;
    font-size: 200%;
    margin-top: 20px;
}

.desc a {
    margin-left: 50px;
    text-decoration: none;
    font-weight: bold;
    color: var(--items);
}

.desc a:hover {
    color: var(--gradient2);
}

#barregrise {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 2px;
    background-color: gray;
}

@media screen and (orientation: portrait) and (max-width: 980px) {
    #headerprojet {
        display: none;
    }
    .desc a {
        margin-left: auto;
        margin-right: auto;
    }
    .unprojet img {
        display: none;
    }
    .unprojet {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    #menu-burger {
        display: none;
    }
    #menu {
        display: none;
    }
    .bar1,
    .bar2,
    .bar3 {
        display: none;
    }
    .navbarphone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 1;
        background-color: linear-gradient(90deg, var(--gradient2), #df4674, var(--gradient1));
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5%;
        z-index: 500;
    }
    /* Style the links inside the navigation bar */
    .navbarphone a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 40px;
    }
    /* Change the color of links on hover */
    .navbarphone a:hover {
        background-color: #ddd;
        color: black;
    }
    .navbarphone a:active {
        background-color: var(--gradient2);
    }
}