* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: rbga(255, 140, 0, 0.5);
    color: white;
}




.gauche {
    width: 40%;
    height: 100%;
    float: left;
    position: fixed;
    background: linear-gradient(-80deg, #222121, #222121, #FF8C00, #ff5e00);
    color: rbga(255, 140, 0, 0.5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#centrergauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    position: relative;
}

#barreorange1 {
    width: 220px;
    height: 7px;
    margin-left: 50px;
    background-color: #FF4500;
    border-radius: 0px 6px 6px 0px;
}

#titre{
    margin-left: 35px;
    color: white;
}

#soustitre a {
    text-decoration: none;
    color: green;
}

#soustitre a:hover {
    font-size: 115%;
}

img.superpose {
    position: absolute;
    margin-left: 15px;
}

#imgavatar {
    height: 125px;
    width: 125px;
    z-index: 11;
}

#imgcircle {
    height: 130px;
    width: 130px;
    animation: rotation 8s infinite linear;
    z-index: 10;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.droite {
    width: 60%;
    float: right;
    background-color: #222121;
}

.lien {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: #708090;
    border: 2px solid whitesmoke;
    border-style: inset;
    border-radius: 12px;
    transition-duration: 1s;
}

.lien:hover {
    background-color: whitesmoke;
    color: #708090;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

/* Responsive design */

@media all and (orientation: portrait) {
    .gauche {
        display: none;
        float: none;
    }
    .droite {
        float: none;
        width: 100%;
    }
    #menu-burger {
        display: none;
    }
    #menu {
        display: none;
    }
    #skills {
        margin-left: 35%;
    }

    /* Place the navbar at the bottom of the page, and make it stick */
    .navbarphone {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-grow: 1;
        background-color: #FF4500;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5%;
    }

    /* Style the links inside the navigation bar */
    .navbarphone a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 40px;
    }

    /* Change the color of links on hover */
    .navbarphone a:hover {
        background-color: #ddd;
        color: black;
    }
}